

* {
    /* Base Colors */
    background:                  #080b0eF5;
    foreground:                  #b7d8f7FF;

    /* Normal Items */
    normal-background:           rgba ( 0, 0, 0, 0 % );
    normal-foreground:           @foreground;
    alternate-normal-background: rgba ( 0, 0, 0, 0 % );
    alternate-normal-foreground: @foreground;

    /* Selected Items */
    selected-normal-background:  #a9cae8FF;
    selected-normal-foreground:  #002840FF;

    /* Active Items (Apps currently running) */
    active-background:           rgba ( 0, 0, 0, 0 % );
    active-foreground:           #b8c8d9FF;
    alternate-active-background: rgba ( 0, 0, 0, 0 % );
    alternate-active-foreground: @active-foreground;
    selected-active-background:  @selected-normal-background;
    selected-active-foreground:  @selected-normal-foreground;

    /* Urgent Items */
    urgent-background:           rgba ( 0, 0, 0, 0 % );
    urgent-foreground:           #ffb3aeFF;
    alternate-urgent-background: rgba ( 0, 0, 0, 0 % );
    alternate-urgent-foreground: @urgent-foreground;
    selected-urgent-background:  @urgent-foreground;
    selected-urgent-foreground:  @background;

    /* Borders and Separators */
    border-color:                #4e6e89FF;
    separatorcolor:              #0e334bFF;
    spacing:                     2;
    background-color:            rgba ( 0, 0, 0, 0 % );
}

