

* {
    /* Base Colors */
    background:                  #0f090cF5;
    foreground:                  #ffc4dbFF;

    /* Normal Items */
    normal-background:           rgba ( 0, 0, 0, 0 % );
    normal-foreground:           @foreground;
    alternate-normal-background: rgba ( 0, 0, 0, 0 % );
    alternate-normal-foreground: @foreground;

    /* Selected Items */
    selected-normal-background:  #f0b7cdFF;
    selected-normal-foreground:  #3e1a2bFF;

    /* Active Items (Apps currently running) */
    active-background:           rgba ( 0, 0, 0, 0 % );
    active-foreground:           #e1bdcaFF;
    alternate-active-background: rgba ( 0, 0, 0, 0 % );
    alternate-active-foreground: @active-foreground;
    selected-active-background:  @selected-normal-background;
    selected-active-foreground:  @selected-normal-foreground;

    /* Urgent Items */
    urgent-background:           rgba ( 0, 0, 0, 0 % );
    urgent-foreground:           #ffb2b9FF;
    alternate-urgent-background: rgba ( 0, 0, 0, 0 % );
    alternate-urgent-foreground: @urgent-foreground;
    selected-urgent-background:  @urgent-foreground;
    selected-urgent-foreground:  @background;

    /* Borders and Separators */
    border-color:                #8c5d71FF;
    separatorcolor:              #4a2436FF;
    spacing:                     2;
    background-color:            rgba ( 0, 0, 0, 0 % );
}

