

* {
    /* Base Colors */
    background:                  #090c08F5;
    foreground:                  #c1ddaeFF;

    /* Normal Items */
    normal-background:           rgba ( 0, 0, 0, 0 % );
    normal-foreground:           @foreground;
    alternate-normal-background: rgba ( 0, 0, 0, 0 % );
    alternate-normal-foreground: @foreground;

    /* Selected Items */
    selected-normal-background:  #b3cfa1FF;
    selected-normal-foreground:  #152b0cFF;

    /* Active Items (Apps currently running) */
    active-background:           rgba ( 0, 0, 0, 0 % );
    active-foreground:           #bccbb0FF;
    alternate-active-background: rgba ( 0, 0, 0, 0 % );
    alternate-active-foreground: @active-foreground;
    selected-active-background:  @selected-normal-background;
    selected-active-foreground:  @selected-normal-foreground;

    /* Urgent Items */
    urgent-background:           rgba ( 0, 0, 0, 0 % );
    urgent-foreground:           #ffb4a3FF;
    alternate-urgent-background: rgba ( 0, 0, 0, 0 % );
    alternate-urgent-foreground: @urgent-foreground;
    selected-urgent-background:  @urgent-foreground;
    selected-urgent-foreground:  @background;

    /* Borders and Separators */
    border-color:                #59724bFF;
    separatorcolor:              #203616FF;
    spacing:                     2;
    background-color:            rgba ( 0, 0, 0, 0 % );
}

